<div class="scrollable_window">
  <div class="scrollable_content" data-ng-transclude data-ng-style="contentStyle"></div> 
</div>
<div class="scrollable_btns"> 
  <div class="scrollable_up_btn" data-ng-click="moveUp();">{{upBtnText}}</div> 
  <div class="scrollable_down_btn"  data-ng-click="moveDown();">{{downBtnText}}</div>
</div> 


<!--
Scrollable Height is <span class="scrollable_val">{{breakHeight}}</span>
<br />

Scrollable Content Height is <span class="scrollable_val">{{contentHeight}}</span>
<br />

Number of Break Segments is <span class="scrollable_val">{{numOfBreakSegments}}</span>
<br />

Break Points are <span class="scrollable_val">{{breakpoints}}</span>
Length is <span class="scrollable_val">{{breakpoints.length}}</span>
<br />

TOP is <span class="scrollable_val">{{top}}</span>
<br />

CurrentBreakpoint is <span class="scrollable_val">{{currentBreakpoint}}</span>
<br />

Are we at the top? <span class="scrollable_val">{{atTop}}</span>
<br />

Are we at the bottom? <span class="scrollable_val">{{atBottom}}</span>-->
