<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">MAC OSX Instructions</h4>
    </div>
    <div class="modal-body">

      <p>
        Select the dimensions matching the screen resolution of your monitor (if you don't know, select 1024x768) and follow the instructions below:
      </p>
      <h1>OSX Download</h1>
      <ol>
        <li>
          Select the image size under the graphic.
        </li>
        <li>
          Click/hold on the image.
        </li>
        <li>
          Select "Save Image As..."
        </li>
        <li>
          Save the image to your hard drive.
        </li>
        <li>
          Follow the directions under OSX Installation below.
        </li>
      </ol>
      <h1>OSX Installation</h1>
      <ol>
        <li>
          In System Preferences, select "Desktop."
        </li>
        <li>
          Under the Collection menu, select "Choose Folder..."
        </li>
        <li>
          Select the downloaded image from your hard drive.
        </li>
        <li>
          Click "Choose," and close the Desktop window.
        </li>
      </ol>
    </div>
    <div class="modal-footer">
      <button ng-click="closeInstructions()" class="btn btn-primary" >
        Close
      </button>
    </div>
  </div>
</div>