<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Live Messenger MSN Messenger</h3>
    </div>
    <div class="modal-body">

      <p>
        Click on the icon you wish to use. This will open the icon in a new browser window. Right click on your desired IM icon. Select "Save Image As" and save the icon to your desktop:
      </p>
      <h3>AOL Instant Messenger (AIM 6)</h3>
      <ol>
        <li>
          Click on the Edit menu and choose "Settings."
        </li>
        <li>
          Choose "Expressions" from the menu.
        </li>
        <li>
          Click "Browse..." and select the icon you've just saved to your desktop. Click "Save."
        </li>
      </ol>
      <h3>Windows Live Messenger (v8.1)</h3>
      <ol>
        <li>
          Click the display picture located on the top of your contact list.
        </li>
        <li>
          Click "Change your display picture."
        </li>
        <li>
          Click "Browse..." and select the icon you've just saved to your desktop. Click "OK."
        </li>
      </ol>
      <h3>Yahoo! Messenger (v8.6)</h3>
      <ol>
        <li>
          Click on the Messenger menu and choose "My Display Image."
        </li>
        <li>
          Select "Share my picture".
        </li>
        <li>
          Click "Select" and choose the icon you've just saved to your desktop.
        </li>
        <li>
          Click "OK."
        </li>
      </ol>

    </div>
    <div class="modal-footer">
      <button ng-click="closeInstructions()" class="btn btn-primary" >
        Close
      </button>
    </div>
  </div>
</div>