<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Windows Instructions</h4>
    </div>
    <div class="modal-body">
      <p>
        Select the dimensions matching the screen resolution of your monitor (if you don't know, select 800x600) and follow the instructions below:
      </p>
      <h1>Internet Explorer 6 through 9</h1>
      <ol>
        <li>
          Right-click on the image.
        </li>
        <li>
          Select "Set as Background" from the context menu.
        </li>
      </ol>
      <h1>Firefox</h1>
      <ol>
        <li>
          Right-click on the image.
        </li>
        <li>
          Select "Set as Wallpaper" from the context menu.
        </li>
      </ol>
    </div>
    <div class="modal-footer">
      <button ng-click="closeInstructions()" class="btn btn-primary" >
        Close
      </button>
    </div>
  </div>
</div>